.detailScreen {
    position: relative;
    width: 100%;
    padding-left: 165px;
    display: flex;
    flex-direction: column;
    background-color: #E0E0E0;
    justify-content: center;
    align-items: center;
  }

  .button{
    width: 150px;
    height: 45px;
    color: white;
    font-weight: bold;
    background-color: #012F51;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin: 30px;
    padding: 15px;
    margin-top: 10px;
    position: fixed;
    left: 320px;
    top: 50px;
}

.button:hover{
    cursor: pointer;
}

.darkout {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 76%;
  position: absolute;
  z-index: 2;
}
  
.deleteVehicle {
  width: 350px;
  height: 80px;
  color: white;
  font-weight: bold;
  background-color: #e90000;
  border-radius: 10px;
  font-size: 27px;
  border: none;
  padding: 15px;
  margin-top: 150px;

  
}

.deleteVehicle:hover {
  cursor: pointer;
}

.doubleCheck {
  width: 590px;
  height: 212px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  top: 40%

}

.deleteButton {
  width: 150px;
  height: 45px;
  color: white;
  font-weight: bold;
  background-color: #e90000;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  margin: 30px;
  padding: 15px
}

.noButton {
  width: 150px;
  height: 45px;
  color: white;
  font-weight: bold;
  background-color: #012F51;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  margin: 30px;
  padding: 15px
}

.question {
  padding-top: 50px;
  line-height: 0
}

.comment {
  line-height: 0;
}

.deleteButton:hover {
  cursor: pointer;
}

.noButton:hover {
  cursor: pointer;
}

.table {
  border-collapse:collapse;
  background-color: white;
  width: 950px;
  border: none;
  text-align: center;
  margin-bottom: 100px;
  table-layout: fixed;
  overflow-wrap: break-word;
  padding: 10px;
  margin-top: 20px;


  
}


.serviceColumn {
  width: 25%;
  border-left: 1px solid black
}
.tableHeader {
  background: #a6a6a7d1;
  line-height: 20px;
}


.notesColumn {
  width: 30%;
}

.editColumn {
  width: 5%
}

.dateColumn {
  width: 20%
}
.odometerColumn {
  width: 15%
}

.searchBar {
  width: 80%;
  border-radius: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;

}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

th {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  
  
}

.end {
  border-right: 1px solid black
}