.home {
  position: absolute;
  width: 79%;
  left: 300px;
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
  padding: 40px;
  justify-content: center;
  align-items: center;
}


