.carCard {
    display: flex;
    flex-direction: column;
    width: 615px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0 rgb(202, 202, 202);
    margin-top: 100px;
    align-items: center;
    justify-content: center;

}

.editCar{
    width: 700px;
    height: 450px;
    border: 2px solid black;
    position: absolute;
    background-color: white;
}

.x {
    padding: 10px;
    font-size: 40px;
    position: absolute;
    right: 23px;
    top: -10px
}

.x:hover {
    cursor: pointer;
}

.title {
    font-size: 30px;
    margin-bottom: 0px;
}


