.carCard {
    height: 220px;
    width: 520px;
    padding: 20px;
    box-shadow: 0px 4px 4px 0 rgb(202, 202, 202);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px;
    position: relative;
    
}

.viewDetails{
    width: 150px;
    height: 45px;
    color: white;
    font-weight: bold;
    background-color: #012F51;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin: 30px;
    padding: 15px;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
}

.viewDetails:hover{
    cursor: pointer;
}

.text1 {
    font-size: 35px;
}

.text {
    line-height: 0;
    font-weight: normal;


}